body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #logo img {
    height: 50px;
}

header #search input[type="text"] {
    padding: 5px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;       /*color de inicio /genero /favoritos*/
}

main {
    padding: 20px;
}

main .movie-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1); /* sombra*/
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.movie-image {
    width: 200px;
    height: 300px;
}


